<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Creative - Start Bootstrap Theme</title>
    <%= csrf_meta_tags %>

    <!-- Javascripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom fonts for this template -->
    <%= stylesheet_link_tag 'font-awesome.min.css' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <%= stylesheet_link_tag 'magnific-popup.css' %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <%= stylesheet_link_tag 'creative.min.css' %>
  </head>

  <body id="page-top">
    <%= yield %>
    
    <!-- Plugin JavaScript -->
    <%= javascript_include_tag "jquery.easing.min.js" %>
    <%= javascript_include_tag "scrollreveal.min.js" %>
    <%= javascript_include_tag "jquery.magnific-popup.min.js" %>

    <!-- Custom scripts for this template -->
    <%= javascript_include_tag "creative.min.js" %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
    <%= javascript_include_tag "bootstrap.min.js" %>
    </script>
  </body>

</html>
